.main-menu {
    width: 400px;
    height: 200px;
    margin: 50px auto;
    border: 2px solid black;
    background-color: rgb(71, 250, 160);
    text-align: center;
}

.heading {
    padding: 20px;
}

.menu-list {
    list-style-type: none;
}

a {
    padding: 4px;
    display: inline-block;
}